[Unit]
Description=Flask web server
[Install]
WantedBy=multi-user.target
[Service]
User=ubuntu
PermissionsStartOnly=true
ExecStart=/home/ubuntu/automlnft/automl-models/endpoints/flask_automl.py
TimeoutSec=600
Restart=on-failure
RuntimeDirectoryMode=755
